<!-- _includes/projects.html -->
<div class="row" style="margin-top: 5%;">
  <div class="col-md-3 col-sm-6 col-xs-12">
    {% if project.redirect -%}
      <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %}
      {%- if project.img %}
        {%- include figure.html
          path=project.img
          alt="project thumbnail" -%}
        {%- endif %}
    </a>

  </div>
  <div class="col-sm-9 col-xs-12">
    <h5 class="card-title text">{{ project.title }}</h5>
    <p class="card-text">{{ project.description }}</p>
  </div>
  
</div>